<div class="column-container">
  <h1>{{ title }}</h1>
  <span *ngIf="filted.length === 0">
    <p>vide</p>
  </span>
  <div *ngIf="filted">
    <div class="card-task" *ngFor="let item of filted" appState [etat]="item.state">
      <p>{{ item.task }}</p>
      <button (click)="goToEdit(item)">Modifier</button>
      <select (change)="changeState(item, $event)">
        <option *ngFor="let state of states" [selected]="state === item.state">
          {{ state }}
        </option>
      </select>
    </div>
  </div>
</div>
