.container {
  display: flex;
  justify-content: space-around;
  border: solid 1px black;
  min-height: 750px;
}

.column-container {
  width: 20%;
  margin: 15px 0px;
  padding: 15px 0px;
  border-radius: 15px;
  background-color: #e3e7e9;
  text-align: center;
}

.main-vide {
  min-height: 700px;
  padding: 50px;
}

.main-vide > p {
  font-size: 2em;
  text-align: center;
}
