form {
  padding-top: 50px;
}
.div-form {
  min-height: 200px;
  padding: 30px 15px 15px 15px;
  width: 35%;
  margin: 0px auto;
  border-radius: 15px;
  background-color: #e3e7e9;
  font-size: 1.2em;
}
.div-form > div {
  margin-bottom: 15px;
}

input {
  width: 80%;
  font-size: 1em;
}
.validator-error {
  color: red;
}

.div-btn {
  display: flex;
  justify-content: center;
}
.div-btn > button {
  width: 100px;
  font-size: 1.1em;
  background-color: #84dcc6;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
}
select {
  font-size: 0.9em;
}

@media only screen and (max-width: 1200px) {
  .div-form {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .div-form {
    width: 80%;
  }
}
